:root {
  --color-burdeos: #5d001e;
  --color-marfil: #fdf6e3;
  --color-gris-humo: #2e2e2e;
  --color-ambar: #ffb347;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--color-gris-humo);
  color: var(--color-marfil);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
.navbar-brand {
  font-family: "Playfair Display", serif;
}

.navbar {
  background-color: var(--color-burdeos) !important;
}

.input-form-footer {
  width: 180px;
  padding: 8px;
  border: none;
  border-radius: 20px 0 0 0px;
}

.btn-form-footer {
  background-color: #ffb347;
  color: #000000;
  border: none;
  padding: 5px 13px;
  border-radius: 0 0px 20px 0;
  cursor: pointer;
}

.btn-outline-success {
  border-color: var(--color-ambar);
}

.navbar-brand,
.nav-link {
  color: var(--color-ambar);
}

.navbar-brand:hover,
.nav-link:hover {
  color: var(--color-marfil);
}

footer {
  background-color: var(--color-burdeos);
  color: var(--color-marfil);
  padding: 1rem;
  text-align: center;
}

.btn-outline-success {
  border-color: var(--color-ambar);
  color: var(--color-ambar);
}

.btn-outline-success:hover {
  background-color: var(--color-ambar);
  color: var(--color-burdeos);
}

.btn-crear-cuenta,
.btn-login,
.btnIndex {
  background-color: var(--color-ambar);
  color: var(--color-burdeos);
  border-color: var(--color-ambar);
  border-radius: 15px;
}

.btn-crear-cuenta:hover,
.btn-login:hover,
.btnIndex:hover {
  background-color: rgba(255, 215, 0, 0.1);
  color: var(--color-ambar);
  border-color: var(--color-ambar);
}

.btnIndex {
  width: 100%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  transition: 300ms;
}

.btnIndex:hover {
  background-color: var(--color-burdeos);
  color: var(--color-marfil);
}

.form-control {
  background-color: var(--color-marfil);
  color: var(--color-burdeos);
  border: 2px solid var(--color-burdeos);
  border-radius: 15px;
}

.form-control::placeholder {
  color: var(--color-burdeos);
  opacity: 0.7;
  text-align: center;
}

.form-control:focus {
  border-color: var(--color-ambar);
  box-shadow: 0 0 5px var(--color-ambar);
}

.btn-color-burdeos {
  background-color: var(--color-burdeos);
  color: #cea976;
  border-color: black;
  transition: background-color 0.3s, color 0.3s;
}

.btn-color-burdeos:hover {
  background-color: var(--color-ambar);
  color: var(--color-burdeos);
  border-color: black;
}

.input-form-footer {
  width: 180px;
  padding: 8px;
  border: none;
  border-radius: 20px 0 0 0;
}

.input-form-footer:focus {
  outline: none;
  box-shadow: 0 0 5px var(--color-ambar);
}

.btn-form-footer {
  background-color: var(--color-ambar);
  color: #000;
  border: none;
  padding: 5px 13px;
  border-radius: 0 0 20px 0;
  cursor: pointer;
}

.letra {
  color: var(--color-burdeos);
}

.whatsapp-float,
.carrito-float {
  position: fixed;
  right: 10px;
  z-index: 9999;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
}

.whatsapp-float {
  bottom: 20px;
  background-color: #12bb50;
}

.carrito-float {
  bottom: 90px;
  background-color: #25d366;
}

.whatsapp-float:hover,
.carrito-float:hover {
  transform: scale(1.4);
}

.page-link {
  background-color: var(--color-burdeos);
  color: white;
  border: none;
}

.page-link.active {
  background-color: var(--color-ambar);
  color: black;
  border: none;
}

.img-categoria {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card-Index {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.card-Index:hover {
  transform: scale(1.05);
}

.tituloCardIndex {
  color: var(--color-burdeos);
}

.cart-box,
.total-box {
  background-color: #cea976;
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-img {
  max-height: 60px;
}

.free-shipping {
  color: green;
  font-weight: bold;
}

.btn-black {
  background-color: black;
  color: var(--color-marfil);
}

.divider {
  border-top: 1px solid black;
  margin: 15px 0;
}

.contenedor-login {
  max-width: 500px;
}

.separador {
  border-top: 1px solid var(--color-ambar);
}

a {
  color: var(--color-marfil);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #9b6213!important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(0);
}

@media (min-width: 992px) {
  .carousel-img {
    height: 350px;
    object-position: center;
  }
}

.pub-img {
  height: 230px;
  object-fit: contain;
  object-position: center;
  width: 100%;
  border-radius: 10px;
}
